{% extends "layout.html" %}
{% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <img src="{ url_for('static', path='105.png') }" alt="" style="padding: 45px;height: 400px;">  
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start gap-4" style="padding: 45px;">

                <h4 style="font-size: 50px; font-weight: bold;">💰 Earn Money On Your First Post</h4>
                <p style="font-size: 20px; color: #7d868e;">🌎 Get Monetized From Any Country "</p>
            
        </div>
    </div>
{%endblock%}